.latest-projects {
}

.latest-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.latest-projects-banner {
  text-align: center;
}

.latest-projects-title {
}

.latest-projects-lead {
}

.latest-projects-grid {
}
